{% extends "master_dashbord.html" %}
{% load static %}
{% block title %}Book Appointment{% endblock %}

{% block content %}
<!-- main content -->
<div class="container">
		<div class="page-inner">
				<div class="page-header">
						<h3 class="fw-bold mb-3">Book Appointment Management</h3>
						<ul class="breadcrumbs mb-3">
								<li class="nav-home">
										<a href="/">
												<i class="icon-home"></i>
										</a>
								</li>
								<li class="separator">
										<i class="icon-arrow-right"></i>
								</li>
								<li class="nav-item">
										<a href="#">Book Appointment</a>
								</li>
						</ul>
				</div>
				<div class="row mb-4">
						<div class="col-md-12">
								<form method="GET" action="{% url 'view_appointment' %}">
										<div class="row g-3">
												<!-- Name Search Input -->
												<div class="col-md-4">
														<label for="search-name" class="form-label">Name</label>
														<input type="text" class="form-control" id="search-name" placeholder="Search by name"
																	 name="search_name" value="{{ search_name }}">
												</div>
												<!-- Email Search Input -->
												<div class="col-md-4">
														<label for="search-email" class="form-label">Email</label>
														<input type="email" class="form-control" id="search-email" placeholder="Search by email"
																	 name="search_email" value="{{ search_email }}">
												</div>
												<!--Category Search Dropdown-->
												<div class="col-md-4">
														<label for="search-status" class="form-label">Status</label>
														<select class="form-select" id="search-status" name="search_status">
																<option value="">Select----</option>
																{% for status in status_choices %}
																<option value="{{ status.0 }}" {% if search_status == status.0 %}selected{% endif %}>
																		{{ status.1 }}
																</option>
																{% endfor %}
														</select>
												</div>

												<!-- Date of Add Filter Range -->
												<div class="col-md-4">
														<label for="search_doa_start" class="form-label">Start Date</label>
														<input type="date" class="form-control" id="search_doa_start" name="search_doa_start"
																	 value="{{ search_doa_start }}">
														<span class="text-danger">{{ date_error_message }}</span>

												</div>
												<div class="col-md-4">
														<label for="search_doa_end" class="form-label">End Date</label>
														<input type="date" class="form-control" id="search_doa_end" name="search_doa_end"
																	 value="{{ search_doa_end }}">
														<span class="text-danger">{{ date_error_message }}</span>
												</div>
												<!-- Action Buttons -->
												<div class="col-md-3 d-flex align-items-end">
														<button type="submit" class="btn btn-primary me-2 w-100">
																<i class="fa fa-search"></i> Search
														</button>
														{% if  search_name or search_email or search_status %}
														<a href="{% url 'view_appointment' %}" class="btn btn-secondary w-100">
																<i class="bi bi-arrow-clockwise"></i> Reset
														</a>
														{% endif %}
												</div>
										</div>
								</form>
						</div>
				</div>

				<div class="row">
						<div class="col-md-12">
								<div class="card">
										<div class="card-header d-flex justify-content-between align-items-center">
												<h4 class="card-title">All Appointments</h4>
										</div>

										<div class="card-body">
												<div class="table-responsive">
														<table
																		id="basic-datatables"
																		class="display table table-striped table-hover"
														>
																<thead>
																<tr>
																		<th>ID</th>
																		<th>Name</th>
																		<th>Email</th>
																		<th>Phone</th>
																		<th>Services</th>
																		<th>date</th>
																		<th>Status</th>
																		<th>Price</th>
																		<th>ACTION</th>
																</tr>
																</thead>
																{% for appointment in appointment_obj %}
																<tbody>
																<tr>
																		<td>{{ appointment.id }}</td>
																		<td>{{ appointment.name }}<br><a
																						href="{% url 'edit_customer' appointment.customer.id %}" target="_blank">
																				<small>({{ appointment.customer.first_name }}</small>)</a></td>
																		<td>{{ appointment.email }}</td>
																		<td>{{ appointment.phone }}</td>
																		<td>
																				{% for service in appointment.services.all %}
																				{{ service.name }}
																				{% if not forloop.last %},{% endif %}
																				{% endfor %}

																		</td>
																		<td>{{ appointment.date }}</td>
																		<td>{{ appointment.formatted_status }}</td>
																		<td>{{ appointment.total_service_price }}</td>
																		<td>
																				<a href="{% url 'edit_appointment' appointment.id %}" title="Edit"><i
																								class="fas fa-edit"></i></a>
																		</td>
																</tr>
																{% empty %}
																<tr>
																		<td colspan="8" class="text-center">No Appointment found</td>
																</tr>
																</tbody>
																{% endfor %}
														</table>
												</div>
										</div>
								</div>
						</div>
				</div>
		</div>
</div>
<!-- End main content -->
{% endblock %}

