{% extends "master_dashbord.html" %}
{% load static %}
{% block title %}Admins{% endblock %}

{% block content %}
<!-- main content -->
<div class="container">
		<div class="page-inner">
				<div class="page-header">
						<h3 class="fw-bold mb-3">Admin Management</h3>
						<ul class="breadcrumbs mb-3">
								<li class="nav-home">
										<a href="/">
												<i class="icon-home"></i>
										</a>
								</li>
								<li class="separator">
										<i class="icon-arrow-right"></i>
								</li>
								<li class="nav-item">
										<a href="#">Admin</a>
								</li>
						</ul>
				</div>
				<div class="row mb-4">
						<div class="col-md-12">
								<form method="GET" action="{% url 'admin_views' %}">
										<div class="row g-3">
												<!-- Name Search Input -->
												<div class="col-md-4">
														<label for="search-name" class="form-label">Name</label>
														<input type="text" class="form-control" id="search-name" placeholder="Search by name"
																	 name="search_name" value="{{ search_name }}">
												</div>
												<!-- Date of Add Filter Range -->
												<div class="col-md-4">
														<label for="search_doa_start" class="form-label">Start Date</label>
														<input type="date" class="form-control" id="search_doa_start" name="search_doa_start"
																	 value="{{ search_doa_start }}">
														<span class="text-danger">{{ date_error_message }}</span>

												</div>
												<div class="col-md-4">
														<label for="search_doa_end" class="form-label">End Date</label>
														<input type="date" class="form-control" id="search_doa_end" name="search_doa_end"
																	 value="{{ search_doa_end }}">
														<span class="text-danger">{{ date_error_message }}</span>
												</div>

												<!--Category Search Dropdown-->
												<div class="col-md-4">
														<label for="is-active" class="form-label">Status</label>
														<select class="form-select" id="is-active" name="is_superuser">
																<option value="">All</option>
																<option value="1" {% if is_superuser == "1" %}selected{% endif %}>Active</option>
																<option value="0" {% if is_superuser == "0" %}selected{% endif %}>Inactive</option>
														</select>
												</div>

												<!-- Action Buttons -->
												<div class="col-md-3 d-flex align-items-end">
														<button type="submit" class="btn btn-primary me-2 w-100">
																<i class="fa fa-search"></i> Search
														</button>
														{% if search_name or is_superuser or search_doa_start or search_doa_end %}
														<a href="{% url 'admin_views' %}" class="btn btn-secondary w-100">
																<i class="bi bi-arrow-clockwise"></i> Reset
														</a>
														{% endif %}
												</div>
										</div>
								</form>
						</div>
				</div>

				<div class="row">
						<div class="col-md-12">
								<div class="card">
										<div class="card-header d-flex justify-content-between align-items-center">
												<h4 class="card-title">All Appointments</h4>
										</div>

										<div class="card-body">
												<div class="table-responsive">
														<table
																		id="basic-datatables"
																		class="display table table-striped table-hover"
														>
																<thead>
																<tr>
																		<th>ID</th>
																		<th>Username</th>
																		<th>Date Joined</th>
																		<th>is_superuser</th>
																		<th>Action</th>
																</tr>
																</thead>
																<tbody>
																{% for user in users %}
																<tr>
																		<td>{{ user.id }}</td>
																		<td>{{ user.username }}</td>
																		<td>{{ user.date_joined }}</td>
																		<td>
																				{% if user.is_superuser == True %}
																				 <span class="btn-label"><i class="fas fa-check-circle text-success"></i></span> Active
																				{% else %}
																				 <span class="btn-label"><i class="fas fa-times-circle text-danger"></i></span> Inactive
																				{% endif %}
																		</td>
																		<td>
																				<a href="{% url 'edit_admin' user.id %}" title="Edit"><i
																								class="fas fa-edit"></i></a>
																		</td>
																</tr>
																{% empty %}
																<tr>
																		<td colspan="7" class="text-center">No Appointment found</td>
																</tr>
																</tbody>
																{% endfor %}
														</table>
												</div>
										</div>
								</div>
						</div>
				</div>
		</div>
</div>
<!-- End main content -->
{% endblock %}

