{% extends "authentication/user_master_login.html" %}
{% load static %}
{% block title %} Login {% endblock %}

{% block content %}
<form id="login_form" method="POST">
		{% csrf_token %}
		<div class="form-floating mb-4">
				<input type="email" class="form-control" name="email" id="email" placeholder="Enter Email"
							 autocomplete="off"/>
				<label for="email">Email <span class="text-danger">*</span></label>
				<span id="email_error" class="text-danger"></span>
		</div>

		<div class="form-floating mb-4 password-container">
				<input type="password" class="form-control" name="password" id="password" placeholder="Password"/>
				<label for="password">Password <span class="text-danger">*</span></label>
				<i class="bi bi-eye-slash" id="togglePassword"></i>
				<span id="password_error" class="text-danger"></span>
		</div>

		<div class="form-outline mb-4 d-grid">
				<input type="submit" value="Log in" class="btn btn-primary btn-block"/>
				<span id="error_msg" class="text-danger"></span>
		</div>

		<div class="text-center mb-4">
				<a class="text-muted" href="/forget_password/">Forgot password?</a>
		</div>

		<div class="d-flex align-items-center justify-content-center pb-4">
				<p class="mb-0 me-2">Don't have an account?</p>
				<a href="/signup/">
						<button type="button" class="btn btn-outline-danger">Create new</button>
				</a>
		</div>
</form>
<span style="color:red">{{error_message}}</span>
{% endblock %}
<!--{% block extrascript %}-->
<!--<script src="{% static 'New folder/js/login.js' %}"></script>-->
<!--{% endblock %}-->
