
body {
  background-color: #eee;
}
#logo{
  width: 185px;
}
#side_img{
  background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
}
.password-container {
  position: relative;
}
.password-container .bi {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;
}
 